version: '3.4'

volumes:
  cassandra_data:
      driver: local

networks:
  keycloak:
    driver: bridge

services:
  cassandra:
    image: cassandra:4.1
    ports:
      - '9042:9042'
    volumes:
      - 'cassandra_data:/var/lib/cassandra'
    networks:
      - keycloak
    healthcheck:
      test: cqlsh -e "describe keyspaces"
      interval: 15s
      timeout: 10s
      retries: 10
    environment:
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_CLUSTER_NAME=keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    volumes:
      - ${PWD}/core/target/keycloak-cassandra-extension-5.4.7-SNAPSHOT.jar:/opt/keycloak/providers/keycloak-cassandra-extension.jar
    environment:
      - KC_COMMUNITY_DATASTORE_CASSANDRA_ENABLED=true
      - KC_SPI_CONNECTIONS_JPA_LEGACY_ENABLED=false
      - KC_SPI_CASSANDRA_CONNECTION_DEFAULT_PORT=9042
      - KC_SPI_CASSANDRA_CONNECTION_DEFAULT_CONTACT_POINTS=cassandra
      - KC_SPI_CASSANDRA_CONNECTION_DEFAULT_LOCAL_DATACENTER=datacenter1
      - KC_SPI_CASSANDRA_CONNECTION_DEFAULT_KEYSPACE=test
      - KC_SPI_CASSANDRA_CONNECTION_DEFAULT_REPLICATION_FACTOR=1
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - JAVA_OPTS_APPEND="-Ddatastax-java-driver.advanced.ssl-engine-factory=none"
    entrypoint: /opt/keycloak/bin/kc.sh
    command: -v start-dev --cache=local --features-disabled=authorization,organization,admin-fine-grained-authz
    ports:
      - 8080:8080
    networks:
      - keycloak
    depends_on:
      cassandra:
        condition: service_healthy
